html {
  scroll-behavior: smooth;
}

.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

body {
  background-image: url(/assets/img/duck.svg);
  background-repeat: space;
  background-size: 100px;
  margin-top: 59px;
}

#content {
  min-height: calc(100vh - 105px);
  padding: 1rem;
}

#navigation .btn-dark {
  border: solid white;
}

#back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s, background-color 0.3s;
  bottom: 11px;
  right: 14px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  font-size: 16px;
  color: white;
  z-index: 100;
}

#back-to-top:hover {
  background-color: #811;
}

#back-to-top:before {
  position: absolute;
  top: 7px;
  left: 8px;
}

#back-to-top.show {
  visibility: visible;
  opacity: 1;
}

@media print {
  #back-to-top {
    display: none !important;
  }
}

.mildert-page-heading {
  font-size: 3rem;
  font-family: Palatino Linotype, Palatino, serif
}

.accordion-button .collapsed {
  color: white;
}